/* contponent */
@import "./component/reset.css";
@import "./component/variables.css";
@import "./component/hidden.css";
@import "./component/card.css";
@import "./component/btn.css";

/* screen */
@import "./screen/rade.css";
@import "./screen/index.css";
@import "./screen/private_info.css";
@import "./screen/signin.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
