<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>현재 아이디 정보</div>
        <div>케릭터 명 : </div>
        <div>그룹 정보 : </div>
        <div>그룹 마스터 : </div>
    </div>
    <div>
        <div>
            <form action="/entergroup/set_char" method="POST">
                <input type="text" name="set_char">
                <button>케릭터 명 설정</button>
            </form>
        </div>
        <div>
            <div>그룹참가 신청하기</div>
            <form action="">
                <input type="text" name="join_group">
                <button>신청</button>
            </form>
        </div>
        <div>
            <div>그룹 생성하기</div>
            <form action="">
                <button>생성</button>
            </form>
        </div>
        <div>
            <div>정보 갱신하기</div>
            <form action="">
                <button>갱신</button>
            </form>
        </div>
    </div>
    <div>
        <div>그룹 신청 현황</div>
        <div>

        </div>
    </div>
    <div>
        <div>그룹 관리</div>
        <div>

        </div>
    </div>

    <script>
        let user_info = JSON.parse("<%= JSON.stringify(user_info)%>".replaceAll('&#34;', '\"'));
        let guildNotSame = JSON.parse("<%= JSON.stringify(guildNotSame)%>".replaceAll('&#34;', '\"'));
        let applicant = JSON.parse("<%= JSON.stringify(applicant)%>".replaceAll('&#34;', '\"'));
        console.log(user_info);
        console.log(guildNotSame);
        console.log(applicant);
    </script>
</body>
</html>