<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>현재 아이디 정보</div>
        <div>케릭터 명 : </div>
        <div>그룹 정보 : </div>
        <div>그룹 마스터 : </div>
    </div>
    <div>
        <div>
            <form action="">
                <button>케릭터 명 설정</button>
            </form>
        </div>
        <div>
            <form action="">
                <button>그룹 찾기</button>
            </form>
        </div>
        <div>
            <form action="">
                <button>그룹 생성하기</button>
            </form>
        </div>
    </div>
    <div>
        <div>그룹 신청 현황</div>
        <div>

        </div>
    </div>
</body>
</html>