.guild_party_settings{
    display: flex;
    margin-top: 20px;
}

.guild_party_list{
    display: flex;
}

.partybox {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 600px;
    overflow-y: scroll;
    background-color: antiquewhite;
    margin: 10px;
}
