<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <form action="/" method="GET">
            <button class="back_btn">&#60;</button>
        </form>
    </header>
    <main>
        <div>
            <div id="chart_div" style="width: 100%; height: 300px;"></div>
        </div>
        
    </main>
    <footer>
        <script src="/javascripts/components/getdate.js"></script>
        <script type="text/javascript">
            var char_list = "<%= JSON.stringify(char_list) %>"
            char_list = char_list.replaceAll('&#34;', '\"');
            char_list = JSON.parse(char_list);
            for(let i = 0; i < char_list.length; i++){
                char_list[i].input_date = (new Date(char_list[i].input_date)).toLocaleString("en-US", {timeZone : "Asia/Seoul", hour12: false});
                char_list[i].input_date = alter_dateformat(char_list[i].input_date.split(',')[0]);
            }
            console.log(char_list);

            var guild_list = "<%= JSON.stringify(guild_info) %>"
            guild_list = guild_list.replaceAll('&#34;', '\"');
            guild_list = JSON.parse(guild_list);
            for(let i = 0; i < guild_list.length; i++){
                guild_list[i].input_date = (new Date(guild_list[i].input_date)).toLocaleString("en-US", {timeZone : "Asia/Seoul", hour12: false});
                guild_list[i].input_date = alter_dateformat(guild_list[i].input_date.split(',')[0]);
            }
            console.log(guild_list);
        </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
            function getMinflag() {
                let min_val = 100000000;
                for(let i = 0; i < guild_list.length; i++) {
                    if(Number(guild_list[i].flag) !== 0 && min_val > Number(guild_list[i].flag)){
                        min_val = Number(guild_list[i].flag);
                    }
                }
                let digit = Math.floor(Math.log10(min_val));

                console.log(Math.pow(10,digit));
                return Math.pow(10,digit);
            }

            function make_chart_data(){
                let datas = [['날짜', '점수']];

                for(let i = 0; i < guild_list.length; i++) {
                    if(Number(guild_list[i].flag) !== 0){
                        let temp = [guild_list[i].input_date, Number(guild_list[i].flag)];
                        datas.push(temp);
                    }
                }
                console.log(datas);
                return datas;
            }
           
            function drawChart() {
                var data = google.visualization.arrayToDataTable(make_chart_data());
                var options = {
                title: '길드 수로 점수',
                hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: getMinflag()}
                };
        
                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
    </footer>
</body>
</html>