<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index_body">
    <header>

    </header>
    <main>
      <div class="index_info">
        <div>
          환영합니다. <br> <%= id %>
        </div>
        <div>
          <%= err %>
        </div>
      </div>

      <% if (id === undefined || id === null) { %>
      <div class="index_login">
        <div>
          <form action="/login" method="GET">
            <button>로그인</button>
          </form>
        </div>
        <div>
          <form action="/signin" method="GET">
            <button>회원가입</button>
          </form>
        </div>
      </div>
      <% } %>

      <% if (id !== undefined && id !== null) { %>
        <div class="index_private">
          <div>
            <form action="/private_info" method="GET">
              <button>이메일 인증 및 길드연동</button>
            </form>
          </div>
          <div>
            <form action="/logout" method="POST">
              <button>로그아웃</button>
            </form>
          </div>
        </div>
      <% } %>

      <% if (sertify) { %>
      <div class="index_manage">
        <div>
          <form action="/rade" method="GET">
            <button>수로관리</button>
          </form>
        </div><div>
          <form action="/flag" method="GET">
            <button>플래그 관리</button>
          </form>
        </div>
      </div>

      <% } %>

    </main>
    <footer></footer>
  </body>
</html>
