<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="move_optionbox">
            <button class="hide_optionbox-btn" onclick="hide_box()">&#45;</button>
            <button class="move_optionbox-btn" onclick="move_box()">창 이동</button>
        </div>
        <form action="/" method="GET">
            <button class="back_btn">&#60;</button>
        </form>
    </header>
    <main>
        <div class="container_rade">
            <div>
                길드명
            </div>
            
            <div id="chart_div" style="width: 100%; height: 300px;"></div>
            
            <div class="guild_party_settings">
                <div class="guild_party">
                    <form action="/rade/submit_list" method="POST">
                        <div class="guild_party_roomnum">01번방</div>
                        <div class="guild_party_list01">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">02번방</div>
                        <div class="guild_party_list02">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">03번방</div>
                        <div class="guild_party_list03">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">04번방</div>
                        <div class="guild_party_list04">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">05번방</div>
                        <div class="guild_party_list05">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">06번방</div>
                        <div class="guild_party_list06">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">07번방</div>
                        <div class="guild_party_list07">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">08번방</div>
                        <div class="guild_party_list08">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">09번방</div>
                        <div class="guild_party_list09">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">10번방</div>
                        <div class="guild_party_list10">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">11번방</div>
                        <div class="guild_party_list11">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        <div class="guild_party_roomnum">12번방</div>
                        <div class="guild_party_list12">
                            <div class="guild_party1 partybox">
    
                            </div>
                            <div class="guild_party2 partybox">
    
                            </div>
                            <div class="guild_party3 partybox">
    
                            </div>
                        </div>
                        
                        <div class="option_box-rade">
                            <button type="submit">저장하기</button>
                            <select name="weekSelected" id="selectWeek-rade" onchange="init_rade()">
                                <option value="0">이번주</option>
                                <option value="1">저번주</option>
                            </select>
                            <div>미배치 목록</div>
                            <select name="" id="moveInRade" onchange="moveToSelected()">
                                <option value="1">01번방</option>
                                <option value="2">02번방</option>
                                <option value="3">03번방</option>
                                <option value="4">04번방</option>
                                <option value="5">05번방</option>
                                <option value="6">06번방</option>
        
                                <option value="7">07번방</option>
                                <option value="8">08번방</option>
                                <option value="9">09번방</option>
                                <option value="10">10번방</option>
                                <option value="11">11번방</option>
                                <option value="12">12번방</option>

                                <option value="13">미참가 로그</option>
                            </select>
                            <select name="" id="not_selected_sort_option" onchange="sort_NotSelected()">
                                <option value="name">이름순</option>
                                <option value="classname">직업별</option>
                                <option value="best" selected>무릉최고기록순</option>
                                <option value="latest">무릉최근기록순</option>
                            </select>
                            <div class="not_selected partybox">
        
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="guild_party_roomnum">미참가 로그</div>
            <div class="guild_not_join">
                <div class="guild_not_join_option">
                    <select name="" id="guild_not_join_term" onchange="mk_not_joined_list(); show_not_join_info();">
                        <option value="4" selected>최근 4주</option>
                        <option value="8">최근 8주</option>
                        <option value="24">최근 24주</option>
                    </select>
                    <select name="" id="guild_not_join_sort" onchange="mk_not_joined_list(); show_not_join_info();">
                        <option value="AES">불성실순</option>
                        <option value="DESC">성실순</option>
                    </select>
                </div>
                <div class="guild_not_join_content">
                    <div class="guild_not_join_li">
                        
                    </div>
                    <div class="guild_not_join_info">
    
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <script src="/javascripts/components/getdate.js"></script>
        <script>
            var char_list = "<%= JSON.stringify(char_list) %>"
            char_list = char_list.replaceAll('&#34;', '\"');
            char_list = JSON.parse(char_list);
            for(let i = 0; i < char_list.length; i++){
                char_list[i].input_date = (new Date(char_list[i].input_date)).toLocaleString("en-US", {timeZone : "Asia/Seoul", hour12: false});
                char_list[i].input_date = alter_dateformat(char_list[i].input_date.split(',')[0]);
            }
            var guild_list = "<%= JSON.stringify(guild_info) %>"
            guild_list = guild_list.replaceAll('&#34;', '\"');
            guild_list = JSON.parse(guild_list);
            for(let i = 0; i < guild_list.length; i++){
                guild_list[i].input_date = (new Date(guild_list[i].input_date)).toLocaleString("en-US", {timeZone : "Asia/Seoul", hour12: false});
                guild_list[i].input_date = alter_dateformat(guild_list[i].input_date.split(',')[0]);
            }
        </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
            function getMindate(){
                var latest_date = '99991231';
                for(var i = 0; i < guild_list.length; i++){
                    var date = guild_list[i].input_date.replaceAll('-','');
                    if(latest_date > date){
                        latest_date = date;
                    }
                }
                return latest_date;
            }

            function getMinRade(){
                var minrade = 10000000000;
                for(var i = 0; i < guild_list.length; i++){
                    var radep = guild_list[i].rade;
                    if(radep !== 0 && radep < minrade){
                        minrade = radep;
                    }
                }
                var digit = Math.floor(Math.log10(minrade));

                return Math.pow(10,digit);
                
            }

            function mk_graph_data(mindate) {
                var temp = [];
                var pasti = 0;
                while(true){
                    var week = getweek(pasti, true)[0]; // 0 일 1 월... 그러나 mysql 시간값이 미국꺼라 하루 빨리함
                    
                    if(week.replaceAll('-','') < mindate){
                        break;
                    }

                    for(var i = 0; i < guild_list.length; i++){
                        var temp_week = guild_list[i].input_date;
                        if(week === temp_week && guild_list[i].rade !== 0){
                            var temps = [temp_week, guild_list[i].rade];
                            temp.push(temps);
                            break;
                        }
                    }

                    pasti = pasti + 1;
                }
                var data = [['날짜', '점수']];
                for (var i = temp.length - 1; i >= 0 ; i--){
                    data.push(temp[i]);
                }

                return data;
            }
           
            function drawChart() {
                var data = google.visualization.arrayToDataTable(mk_graph_data(getMindate()));
                var options = {
                title: '길드 수로 점수',
                hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: getMinRade()}
                };
        
                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
        <script src="/javascripts/screens/radepage.js"></script>
        <script src="/javascripts/screens/not_join_rade.js"></script>

    </footer>
</body>
</html>